.categories {
  margin-top: 15vh;
  padding: 80px 10%;
  text-align: center;
  color: #e2e2e2;
}

.categories h1 {
  font-size: 3rem;
  margin-bottom: 35px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cat-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 60px;
}

.cat-card {
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none; /* remove underline */
  color: inherit; /* keep text color */
  cursor: pointer;
}

.cat-card:hover {
  border-color: #0077cc;
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 0 12px rgba(0, 119, 204, 0.4);
}

.cat-card a {
  text-decoration: none;
  color: #e2e2e2;
  font-size: 1.4rem;
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #ffffff30;
  color: #ccc;
  position: relative;
  bottom: 0;
  width: 100%;
}
